{% if user.is_authenticated %}
<h1>{{ dependancy }}</h1>
<form action="update/">
    <button type="submit">Edit</button>
</form>
<form action="delete/">
    <button type="submit">Delete</button>
</form>
<form action="{% url 'todos:dependancy_new' %}">
    <button type="submit">New Dependancy</button>
</form>
<form action="{% url 'todos:home' %}">
    <button type="submit">Go Home</button>
</form>
<h5>Parent</h5>
<p>{{ dependancy.parent_id }}</p>
<h5>Child</h5>
<p>{{ dependancy.child_id }}</p>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'todos:login' %}">Login</a>
{% endif %}
