<h1>{{ list }}</h1>
<form action="/todos/task/new/">
    <button type="submit">New Task</button>
</form>
<form action="update/">
    <button type="submit">Edit</button>
</form>
<form action="delete/">
    <button type="submit">Delete</button>
</form>
<form action="/todos/home">
    <button type="submit">Go Home</button>
</form>
{% block content %}
    <ul>
        {% for task in object_list %}
            <li><a href="/todos/task/{{ task.pk }}">{{ task.task_name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}